# misc
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
migrate_working_dir/

# IDE
*.iml
*.ipr
*.iws
.idea/
# .vscode/        # uncomment to ignore VS Code workspace settings

# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
**/doc/api/

# iOS
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/DerivedData/

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/
macos/DerivedData/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.keystore
android/app/*.jks
android/**/generated/
android/**/captures/
android/**/outputs/
android/app/debug
android/app/profile
android/app/release

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Obfuscation & symbolication
app.*.map.json
app.*.symbols
